#main-banner .title-container .fas.fa-chevron-down, #main-banner .title-container h1, #main-banner .title-container h2 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jobs-container h2, .services-container h2 {
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.jobs-container .other-jobs .job-card, .jobs-container .jobs-list .first-job {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs-container .other-jobs .job-card .job-card__title, .jobs-container .jobs-list .first-job .job-card__title, .jobs-container .other-jobs .job-card .job-card__cover, .jobs-container .jobs-list .first-job .job-card__cover, .jobs-container .other-jobs .job-card .job-card__description, .jobs-container .jobs-list .first-job .job-card__description {
  opacity: 0;
}
@media (max-width: 768px) {
  .jobs-container .other-jobs .job-card .job-card__title, .jobs-container .jobs-list .first-job .job-card__title, .jobs-container .other-jobs .job-card .job-card__cover, .jobs-container .jobs-list .first-job .job-card__cover, .jobs-container .other-jobs .job-card .job-card__description, .jobs-container .jobs-list .first-job .job-card__description {
    opacity: 1;
  }
}
.jobs-container .other-jobs .job-card:hover .job-card__title, .jobs-container .jobs-list .first-job:hover .job-card__title, .jobs-container .other-jobs .job-card:hover .job-card__cover, .jobs-container .jobs-list .first-job:hover .job-card__cover, .jobs-container .other-jobs .job-card:hover .job-card__description, .jobs-container .jobs-list .first-job:hover .job-card__description {
  opacity: 1;
}

.btn {
  padding: 0.6rem 1rem;
  border: 1px solid #FFF;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: #FFF;
}
.btn:hover {
  color: #FF5200;
  border-color: #FF5200;
}
.btn--primary {
  background-color: #FF5200;
  border-color: #FF5200;
}
.btn--primary:hover {
  background-color: transparent;
}
.btn--rounded {
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/office.jpg");
  height: 85vh;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  #main-banner {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  #main-banner nav {
    display: none;
  }
}
#main-banner .nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #000;
  z-index: 10;
}
@media (max-width: 768px) {
  #main-banner .nav-container {
    padding: 1rem;
  }
}
#main-banner .nav-container .brand {
  color: #FFF;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
#main-banner .nav-container .brand:hover {
  color: #FF5200;
}
#main-banner .nav-container__navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
#main-banner .nav-container__navbar li {
  margin: 5px 10px;
}
#main-banner .nav-container__navbar li a {
  color: #FFF;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
#main-banner .nav-container__navbar li a:hover {
  color: #FF5200;
}
#main-banner .nav-container .fas.fa-bars {
  color: #FFF;
  font-size: 2rem;
  display: none;
}
@media (max-width: 768px) {
  #main-banner .nav-container .fas.fa-bars {
    display: block;
  }
}
#main-banner .title-container {
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 768px) {
  #main-banner .title-container {
    text-align: center;
    padding: 2rem;
  }
}
#main-banner .title-container h2 {
  font-size: 3rem;
}
#main-banner .title-container h1 {
  font-size: 4rem;
  margin-top: 1rem;
}
#main-banner .title-container .fas.fa-chevron-down {
  display: none;
  position: absolute;
  bottom: 2rem;
  font-size: 2rem;
  margin-top: 2rem;
  animation: arrow-animation 1s infinite;
}
@media (max-width: 768px) {
  #main-banner .title-container .fas.fa-chevron-down {
    display: block;
  }
}

.services-container {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .services-container {
    padding: 2rem 0;
  }
}
.services-container .services-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.services-container .services-card-container .services-card {
  width: 30%;
  margin: 1%;
  padding: 2rem;
  border: 1px solid #CCC;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .services-container .services-card-container .services-card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.services-container .services-card-container .services-card i {
  font-size: 4rem;
  color: #FF5200;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.services-container .services-card-container .services-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.services-container .services-card-container .services-card p {
  color: #8B8E94;
}
.services-container .services-card-container .services-card:hover {
  box-shadow: 0 1px 10px #CCC;
}

.jobs-container {
  background-color: #E5EAFF;
  padding: 3rem;
}
@media (max-width: 768px) {
  .jobs-container {
    padding: 2rem;
  }
}
.jobs-container .jobs-list {
  display: flex;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .jobs-container .jobs-list {
    flex-direction: column;
  }
}
.jobs-container .jobs-list .first-job {
  width: 30%;
  height: 415px;
  background-image: url("../img/job1.jpg");
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-right: 15px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .jobs-container .jobs-list .first-job {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.jobs-container .other-jobs {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
}
@media (max-width: 768px) {
  .jobs-container .other-jobs {
    width: 100%;
    flex-direction: column;
  }
}
.jobs-container .other-jobs .job-card {
  width: 46%;
  height: 200px;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .jobs-container .other-jobs .job-card {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.jobs-container .other-jobs #job2 {
  background-image: url("../img/job2.jpg");
}
.jobs-container .other-jobs #job3 {
  background-image: url("../img/job3.jpg");
}
.jobs-container .other-jobs #job4 {
  background-image: url("../img/job4.jpg");
}
.jobs-container .other-jobs #job5 {
  background-image: url("../img/job5.jpg");
}
.jobs-container .job-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.75rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #FF5200;
}
.jobs-container .job-card__title {
  font-weight: bold;
  text-align: center;
  color: #FFF;
  font-size: 2.2rem;
  transition: 0.5s ease-in-out;
}
.jobs-container .job-card__description {
  text-align: center;
  color: #FFF;
  padding: 1rem;
  font-size: 0.9rem;
  transition: 0.5s ease-in-out;
}

footer {
  background-color: #1D1D1D;
  color: #8B8E94;
  padding: 5rem 2rem;
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  footer .footer-container {
    width: 100%;
    flex-direction: column;
  }
}
footer .footer-container .footer-title {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 1rem;
}
footer .footer-desc-container, footer .footer-links-container {
  width: 50%;
}
@media (max-width: 768px) {
  footer .footer-desc-container, footer .footer-links-container {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
}
footer .footer-desc-container p {
  width: 80%;
  line-height: 1.3rem;
}
@media (max-width: 768px) {
  footer .footer-desc-container p {
    width: 100%;
  }
}
footer .footer-links-container {
  display: flex;
}
@media (max-width: 768px) {
  footer .footer-links-container {
    flex-direction: column;
    justify-content: center;
  }
}
footer .footer-links-container__list {
  padding: 0 1rem;
}
@media (max-width: 768px) {
  footer .footer-links-container__list {
    padding: 0;
    margin-bottom: 2rem;
  }
}
footer .footer-links-container__list li {
  margin-bottom: 0.5rem;
}
footer .footer-links-container__list li a {
  color: #8B8E94;
  transition: 0.5s;
}
footer .footer-links-container__list li a:hover {
  color: #FF5200;
}
footer .footer-copy-container {
  width: 100%;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  footer .footer-copy-container {
    text-align: center;
  }
}
footer .footer-copy-container p {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
